.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
}

.bg-success {
  background-color: #198754;
  color: rgb(255, 255, 255);
}

.bg-danger {
  background-color: #dc3545;
  color: rgb(255, 255, 255);
}